.rc-select {
  max-width: 520px;
  position: relative;
  border: 1px solid #CECECE;
}
.rc-select-focused .rc-select-selector {
  border-color: transparent;
  outline: 2px solid #058373;
}
.rc-select-disabled,
.rc-select-disabled input {
  opacity: 0.5;
  cursor: not-allowed;
}
.rc-select-selector {
  position: relative;
  padding: 8px 12px;
}
.rc-select-selection-placeholder {
  color: #CECECE;
  pointer-events: none;
}
.rc-select-selection-search {
  display: block;
  width: 100%;
}
.rc-select-selection-search-input {
  width: 100%;
  border-radius: 0;
  outline: none;
}
.rc-select-clear {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}
/* .rc-select-selector .rc-select-selection-placeholder,
.rc-select-single .rc-select-selection-item {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  padding-left: 12px;
}
.rc-select-selector .rc-select-selection-placeholder,
.rc-select-allow-clear .rc-select-selector .rc-select-selection-item {
  width: calc(100% - 30px);
}
.rc-select-allow-clear .rc-select-selector {
  padding-right: 24px;
} */

/* dropdown区 */
.rc-select-dropdown {
  position: absolute;
  background-color: #ffffff;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  max-height: 520px;
  overflow: auto;
}
.rc-select-dropdown-hidden {
  display: none;
}
.rc-select-item-empty {
  padding: 32px 0;
  text-align: center;
  color: #CECECE;
}

.rc-virtual-list {
  transform: translateZ(0px);
}
.rc-select-item-option {
  position: relative;
  cursor: pointer;
}
.rc-select-item-option-selected {
  color: #058373;
  background-color: rgba(5, 131, 115, .1);
}
.rc-select-item-option-selected .rc-select-item-option-content > div {
  padding-right: 36px;
}
.rc-select-item-option-active:not(.rc-select-item-option-selected) {
  background-color: #EDECE9;
}
.rc-select-item-option-disabled {
  opacity: .5;
  cursor: not-allowed;
}
.rc-select-item-option .rc-select-item-option-state {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 12px;
  pointer-events: none;
  color: currentColor;
  pointer-events: none;
  background-color: transparent;
}

.rc-select-dropdown-slide-enter,
.rc-select-dropdown-slide-appear {
  opacity: 0;
  animation: 170ms ease both paused;
}
.rc-select-dropdown-slide-leave {
  animation: 100ms ease both paused;
}
.rc-select-dropdown-slide-enter.rc-select-dropdown-slide-enter-active.rc-select-dropdown-placement-bottomLeft,
.rc-select-dropdown-slide-appear.rc-select-dropdown-slide-appear-active.rc-select-dropdown-placement-bottomLeft,
.rc-select-dropdown-slide-enter.rc-select-dropdown-slide-enter-active.rc-select-dropdown-placement-bottomRight,
.rc-select-dropdown-slide-appear.rc-select-dropdown-slide-appear-active.rc-select-dropdown-placement-bottomRight {
  transform-origin: center top;
  animation-name: d2mDropdownSlideIn;
  animation-play-state: running;
}
.rc-select-dropdown-slide-leave.rc-select-dropdown-slide-leave-active.rc-select-dropdown-placement-bottomLeft,
.rc-select-dropdown-slide-leave.rc-select-dropdown-slide-leave-active.rc-select-dropdown-placement-bottomRight {
  transform-origin: center top;
  animation-name: d2mDropdownSlideOut;
  animation-play-state: running;
}
.rc-select-dropdown-slide-enter.rc-select-dropdown-slide-enter-active.rc-select-dropdown-placement-topLeft,
.rc-select-dropdown-slide-appear.rc-select-dropdown-slide-appear-active.rc-select-dropdown-placement-topLeft,
.rc-select-dropdown-slide-enter.rc-select-dropdown-slide-enter-active.rc-select-dropdown-placement-topRight,
.rc-select-dropdown-slide-appear.rc-select-dropdown-slide-appear-active.rc-select-dropdown-placement-topRight {
  transform-origin: center bottom;
  animation-name: d2mDropdownSlideIn;
  animation-play-state: running;
}
.rc-select-dropdown-slide-leave.rc-select-dropdown-slide-leave-active.rc-select-dropdown-placement-topLeft,
.rc-select-dropdown-slide-leave.rc-select-dropdown-slide-leave-active.rc-select-dropdown-placement-topRight {
  transform-origin: center bottom;
  animation-name: d2mDropdownSlideOut;
  animation-play-state: running;
}

@keyframes d2mDropdownSlideIn {
  0% {
    opacity: .5;
    transform: scale(.98,.98);
  }
  100% {
    opacity: 1;
    transform: scale(1,1);
  }
}
@keyframes d2mDropdownSlideOut {
  0% {
    opacity: 1;
    transform: scale(1,1);
  }
  100% {
    opacity: .5;
    transform: scale(.98,.98);
  }
}
