.d2mslt {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid #CECECE;
}
.d2mslt:not(.d2mslt-focused):not(.d2mslt-open):not(.d2mslt-disabled):hover {
  border-color: #058373;
}
.d2mslt-focused,
.d2mslt-open {
  border-color: transparent;
  outline: 2px solid #058373;
}
.d2mslt-disabled,
.d2mslt-disabled input {
  opacity: 0.5;
  cursor: not-allowed;
}
.d2mslt-selector {
  position: relative;
  padding: 6px 10px;
  flex: auto;
  overflow: hidden;
}
.d2mslt-selection-search-input {
  width: 100%;
  height: 100%;
  border-radius: 0;
  outline: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}
.d2mslt-selection-search-input::-webkit-search-cancel-button {
  display: none;
  appearance: none;
}
.d2mslt-single .d2mslt-selection-search-input {
  padding: 6px 10px;
}
.d2mslt-selection-placeholder {
  display: block;
  width: 100%;
  color: #CECECE;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.d2mslt-multiple.d2mslt-open.d2mslt-show-search .d2mslt-selection-placeholder {
  padding: 0px 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.d2mslt-arrow-loading {
  display: none;
}
.d2mslt-loading .d2mslt-arrow-loading {
  display: block;
}
.d2mslt-clear,
.d2mslt-arrow {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4px;
}
.d2mslt-selection-overflow {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.d2mslt-selection-overflow-item {
  width: fit-content;
  max-width: 100%;
  flex: none;
}
.d2mslt-selection-overflow-item-suffix {
  display: none;
}
.d2mslt-open.d2mslt-show-search .d2mslt-selection-overflow-item-suffix {
  display: block;
}
.d2mslt-selection-overflow-item:not(.d2mslt-selection-overflow-item-suffix) {
  padding: 2px 4px 2px 8px;
  border-radius: 12px;
  background-color: #E9E9E9;
}
.d2mslt-selection-item-content {
  flex: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.d2mslt-selection-item-remove {
  flex: none;
  display: flex;
}
.d2mslt-single.d2mslt-show-search .d2mslt-selection-item {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.d2mslt-selection-overflow-item:not(.d2mslt-selection-overflow-item-suffix) .d2mslt-selection-item {
  display: flex;
  align-items: center;
}
.d2mslt-single .d2mslt-selection-search {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.d2mslt-multiple .d2mslt-selection-search {
  max-width: 100%;
}
.d2mslt-multiple .d2mslt-selection-search-mirror {
  position: absolute;
  left: 12px;
  top: 50%;
  visibility: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  z-index: 1;
  transform: translateY(-50%);
}

/* dropdown区 */
.d2mslt-dropdown {
  position: absolute;
  background-color: #ffffff;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}
.d2mslt-dropdown-hidden {
  display: none;
}
.d2mslt-item-empty {
  padding: 32px 0;
  text-align: center;
  color: #CECECE;
}
.rc-virtual-list {
  transform: translateZ(0px);
}
.rc-virtual-list-holder-inner {
  padding: 2px;
}
.d2mslt-item-option {
  position: relative;
  cursor: pointer;
}
.d2mslt-item-option-selected {
  color: #058373;
  background-color: rgba(5, 131, 115, .1);
}
.d2mslt-item-option-content > div {
  width: 100%;
  height: 100%;
  text-align: start;
  padding: 10px 16px;
  background-color: transparent;
  user-select: none;
}
.d2mslt-item-option-selected .d2mslt-item-option-content > div {
  padding-right: 36px;
}
.d2mslt-item-option-active.d2mslt-item-option-selected {
  background-color: rgba(5, 131, 115, .2);
}
  .d2mslt-item-option-active:not(.d2mslt-item-option-selected) {
  background-color: #EDECE9;
}
.d2mslt-item-option-active:not(.d2mslt-item-option-selected) {
  background-color: #EDECE9;
}
.d2mslt-item-option-disabled {
  opacity: .5;
  cursor: not-allowed;
}
.d2mslt-item-option .d2mslt-item-option-state {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 12px;
  pointer-events: none;
  color: currentColor;
  pointer-events: none;
  background-color: transparent;
}

.d2mslt-dropdown-slide-enter,
.d2mslt-dropdown-slide-appear {
  opacity: 0;
  animation: 170ms ease both paused;
  animation-play-state: running;
}
.d2mslt-dropdown-slide-leave {
  animation: 100ms ease both paused;
  animation-play-state: running;
}
.d2mslt-dropdown-slide-enter.d2mslt-dropdown-slide-enter-active.d2mslt-dropdown-placement-bottomLeft,
.d2mslt-dropdown-slide-appear.d2mslt-dropdown-slide-appear-active.d2mslt-dropdown-placement-bottomLeft,
.d2mslt-dropdown-slide-enter.d2mslt-dropdown-slide-enter-active.d2mslt-dropdown-placement-bottomRight,
.d2mslt-dropdown-slide-appear.d2mslt-dropdown-slide-appear-active.d2mslt-dropdown-placement-bottomRight {
  transform-origin: center top;
  animation-name: d2mDropdownSlideIn;
}
.d2mslt-dropdown-slide-leave.d2mslt-dropdown-slide-leave-active.d2mslt-dropdown-placement-bottomLeft,
.d2mslt-dropdown-slide-leave.d2mslt-dropdown-slide-leave-active.d2mslt-dropdown-placement-bottomRight {
  transform-origin: center top;
  animation-name: d2mDropdownSlideOut;
}
.d2mslt-dropdown-slide-enter.d2mslt-dropdown-slide-enter-active.d2mslt-dropdown-placement-topLeft,
.d2mslt-dropdown-slide-appear.d2mslt-dropdown-slide-appear-active.d2mslt-dropdown-placement-topLeft,
.d2mslt-dropdown-slide-enter.d2mslt-dropdown-slide-enter-active.d2mslt-dropdown-placement-topRight,
.d2mslt-dropdown-slide-appear.d2mslt-dropdown-slide-appear-active.d2mslt-dropdown-placement-topRight {
  transform-origin: center bottom;
  animation-name: d2mDropdownSlideIn;
}
.d2mslt-dropdown-slide-leave.d2mslt-dropdown-slide-leave-active.d2mslt-dropdown-placement-topLeft,
.d2mslt-dropdown-slide-leave.d2mslt-dropdown-slide-leave-active.d2mslt-dropdown-placement-topRight {
  transform-origin: center bottom;
  animation-name: d2mDropdownSlideOut;
}

@keyframes d2mDropdownSlideIn {
  0% {
    opacity: .5;
    transform: scale(.98,.98);
  }
  100% {
    opacity: 1;
    transform: scale(1,1);
  }
}
@keyframes d2mDropdownSlideOut {
  0% {
    opacity: 1;
    transform: scale(1,1);
  }
  100% {
    opacity: .5;
    transform: scale(.98,.98);
  }
}
