.fkeyboard {
  min-width: 320px;
}
.fkeyboard .hg-theme-default .hg-button {
  min-width: 64px;
  height: 64px;
  font-size: 24px;
}
.fkeyboard .hg-theme-default .hg-button:not(.hg-functionBtn) {
  font-family:Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}
.fkeyboard .hg-button-backspace {
  position: relative;
  color: transparent;
}
.fkeyboard .hg-button-backspace::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 8a3 3 0 0 0-3-3H8.828a3 3 0 0 0-2.12.879l-4 4a3 3 0 0 0 0 4.242l4 4a3 3 0 0 0 2.12.879H19a3 3 0 0 0 3-3V8zm-6.707 1.293a1 1 0 1 1 1.414 1.414L15.414 12l1.293 1.293a1 1 0 0 1-1.414 1.414L14 13.414l-1.293 1.293a1 1 0 0 1-1.414-1.414L12.586 12l-1.293-1.293a1 1 0 0 1 1.414-1.414L14 10.586l1.293-1.293z' fill='currentColor'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.fkeyboard .hg-button-space {
  position: relative;
  color: transparent;
}
.fkeyboard .hg-button-space::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 32px;
  height: 32px;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M3 15h2v4h14v-4h2v4c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}